<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title> eLibrary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 450px}

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height:auto;}
        }
        .form-grou{
            padding: 10px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost:8080/home">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">

            <a href="/home/view-all"> <button type="button" class="btn btn-primary btn-block btn-lg">View All Students</button></a><br/>
            <a href="/home/add-new-student"> <button type="button" class="btn btn-primary btn-block btn-lg">Add New Student</button></a>
            <br/> <div class="col-md-12">

            <a href="../">
                <img src="../img/MUM_Logo.png" alt="MUM Logo" style="width:100%">
                <div class="caption">
                    <h3>eRegistrar SMS</h3>
                </div>
            </a>

        </div>

        </div>
        <div class="col-sm-8 text-left">
            <h1>Fill in the form below</h1>
            <hr>
            <form action="#" th:action="@{/home/save}" th:object="${student}" method="post" >

                <!-- hidden form input to keep id for staff to facilitate update -->

                <input type="hidden" th:field="*{studentId}"/>

                <table style="padding: 2%;width:100%" >

                    <tr>
                        <td>
                            <div class="form-group">
                               <span th:if="${#fields.hasErrors('studentNo')}" th:errors="*{studentNo}"
                                     class="alert alert-danger"></span>
                                Student Number:  <br>
                                <input type="text" th:field="*{studentNo}" id="studentNo" class="form-control" required placeholder= "Student number">

                            </div>
                        </td><td>&HilbertSpace;</td>
                        <td>
                            <div class="form-group">
                                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                      class="alert alert-danger"></span>
                                First Name:  <br>
                                <input type="text" th:field="*{firstName}" id="firstName" class="form-control" required placeholder="First Name" >
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                      class="alert alert-danger"></span>
                                Last Name:  <br>
                                <input type="text" th:field="*{lastName}" id="lname" class="form-control" required placeholder="Last Name" >
                            </div>
                        </td>
                        <td>&HilbertSpace;</td><td>
                        <div class="form-group">
                            Middle Name:  <br>
                            <input type="text" th:field="*{middleName}" class="form-control" placeholder= "Middle Name">
                        </div>
                    </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span th:if="${#fields.hasErrors('cgpa')}" th:errors="*{cgpa}"
                                      class="alert alert-danger"></span>

                                CGPA:  <br>
                                <input type="text" th:field="*{cgpa}" class="form-control"  placeholder="3.5" >
                            </div>
                        </td><td>&HilbertSpace;</td>
                        <td>
                            <div class="form-group">
                                Enrollment Date:  <br>
                                <input type="date" th:field="*{enrollmentDate}" class="form-control" required placeholder="Position">
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                International?:  <br>
                                <select th:field="*{international}" class="form-control">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </td><td>&HilbertSpace;</td>

                        <td>
                            <div class="form-group">
                                <button type="submit" value="Submit" class="btn btn-primary" >Submit</button>
                                <button type="reset" value="Reset" class="btn btn-primary" >Reset</button>
                            </div>
                        </td>
                    </tr>
                </table>



            </form>
        </h4>

            <hr>
            <h3>Test</h3>
            <p>Lorem ipsum...</p>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>
</html>
